/*全体の背景色*/
body {
    background-color: #F0F0F0;
}

/*ヘッダーのレイアウト*/
#page_title{
    background-color: gray;
    padding-left:16px;
    padding-right:16px;
}
#page_title_content{
    margin: 0px;
}

#header_menu{
    margin: 0px;
    background-color: #999999;

}
#header_menu_list{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
}
.header_menu_content{
    list-style: none;
    border: 2px solid gray;
    padding-left:16px;
    padding-right:16px;
}

/*入力用エリアのレイアウト*/
#input_area{
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    border: 4px solid silver;
    border-spacing: 8px;
    width: 480px;
    padding-left:16px;
    padding-right:16px;
}
input{
    font-size: 100%;
}
#dice{
    display:flex;
    padding-bottom: 24px;
}

/*出力用エリアのレイアウト*/
#output_area{
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    border: 4px solid gray;
    border-spacing: 8px;
    width: 480px;
    padding-left: 16px;
    padding-right: 16px;
}

#output{
    width: 100%;
    padding-right: 24px;
}
#output_num{
    width: 100%;
    word-wrap: break-word;
}

#output_time{
    font-size: 12px;
}